@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Nerko+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.input-validation-error {
    border: 2px solid #dc3545; /* same red as text-danger */
    background-color: #faebd7; /* antique white */
}

.body {
    background-color: rgba(192,192,192,0.3);
}




/* Sidebar hover consistency */
.sidebar-nav .hover-light:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: .375rem;
    transition: background-color 0.3s ease;
}

/* Smooth dropdown */
.submenu {
    transition: all 0.35s ease;
}

/* Rotate chevron when expanded */
.transition {
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(180deg);
}
