@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Nerko+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.input-validation-error {
    border: 2px solid #dc3545; /* same red as text-danger */
    background-color: #faebd7; /* antique white */
}

.body {
    color: rgba(0, 0, 0, 0.87);
}
